<!DOCTYPE html>
<html lang="en">
	<head>
        <title>название моего сайта</title><!--можно дать название-->
        <meta charset="utf-8" />
        <meta name="description" content="здесь кратко пишем, о чем сайт. Это описание будет видно в поисковиках" />
        <meta name="keywords" content="ключевые слова через запятую"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0054A6" /><!--цвет заголовка окна, можно поставить любой, цвет это значение content - то, что в кавычках-->
        <link rel="icon" href="icon.png"/><!--иконка сайта - в кавычках указать небольшой файл png-->
		<link rel="stylesheet" href="style.css" /><!--в этом файле хранятся стили - какого размера будет рисунок, насколько широк текст и как компоненты внутри body размещаются относительно друг друга, размер шрифта и т.д.-->
    </head>
	<body><!--все внутри тега body видно в браузере пользователю-->
		<div>
			<h3>Это заглавие сайта - о чем он. Привет всем!</h3>
			<p>Что есть? Между тегами "p" размещается один абзац текста. Здесь можно рассказать миру о всем том прекрасном, что накопилось в голове. И всех развеселить.</p>
			<p>Другой абзац текста.</p>
			<ul>Некий список прикольных штук:
				<li>кот</li>
				<li>ёж</li>
				<li>мышь</li>
				<li>ёлка</li>
			</ul>
			<p>Еще пара слов.</p>
			<p>В теге img размещается картинка. Цветущая яблоня.</p>
			<img src="apple.jpg">
			<p>Электронная почта или другой способ связи.</p>
		</div>
	</body>
</html>
