body{
	margin-bottom: 80px; /* от нижнего края браузера содержимое страницы приподнято на 80 пикселей*/
}
div {
	border: 1px solid green; /*рамка. Вся видимая часть страницы размещена в div-ах.  В этом примере он всего один, и чтобы видеть его границы, указан параметр border и его цвет - green*/
	font-size: 14px; /*размер шрифта*/
	font-family: sans-serif; /*стиль шрифта*/
	text-align: justify; /*выравнивание текста - по всей ширине. Так же можно выбрать по левому краю, по правому или по центру*/
	margin: 30px 15%; /*наружние отступы блока от границ body, 30 пикселей сверху и снизу, по 15 процентов слева и справа*/
	padding: 20px;  /*внутренний отступ*/
}
img{
	width: 50%; /*ширина картинки, может быть в процентах от того компонента, внутри которого она находится - в нашем случае это div с зелеными границами. Или может быть в пикселях*/
	margin: 10px 20%; /*наружние отступы*/
}
@media (min-width: 900px) { /*срабатывает, только когда ширина окна браузера больше 900 пикселей*/
	div {
		margin: 5px 27%;
	}